// out: styles.css, compress: true, sourceMap: false

@charset "utf-8";
/* CSS Document */

body {
	font-size: 16px;
	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

// Page
// --------------------------------
.page {
	&__inner {
		display: block;
		margin: auto;

		max-width: 80rem;
	}
}

// Main
// --------------------------------
.main {
	&__inner {
		display: flex;
	}

	&__item {
		width: 50%;
		padding: 1rem;
	}
}

// Input
// --------------------------------
.textarea {
	width: 100%;
	height: 80vh;
	
	padding: 0.5rem;
	
	resize: none;

	font-size: 14px;
}

// Output
// --------------------------------
.block {
	padding: 0.5rem;
	border: 2px outset #cdcdcd82;

	&:not(:first-child) {
		margin-top: 0.5rem;
	}

	white-space: pre-wrap;

	font-size: 14px;

	background: rgb(238, 255, 255);
	&.is-active {
		background: oldlace;
	}
}